# Python environment
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Raw / confidential Awin data
Data/
Publisher.xlsx
PublisherData/
processed/

# Internal  schema/query logic
*.sql
SQL Code/

#  outputs not needed

eda_jan25/

# Superseded / working material
Archive/
Master files/
Backups/

# confidential commercial material 
Reports and Slides/


.DS_Store
Thumbs.db
